.header {
  background-color:#fafafa;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 5px;
  border-bottom: 1px solid #eee;
}
.nav-search {
  float: left;
}
.navser{
  margin:5px 0 0 0;
}
.navser input {
  width: 300px;
}
.nav{
  float: left;
  display: block;
  margin: 0;
}
.nav li{
  float: left;
  display: block;
  padding:5px 20px 5px 0;
}
.nav li a{
  line-height: 30px;
}
.user{
  margin-top:13px;
}
.clear {
  clear: both;
}
li.actived a {
  color:#005580;
}

/******************************
           导航
*****************************/

div#footer{
  position:relative;
  bottom:0;
  height:40px;
  border-top:1px solid #EBEBEB;
  overflow:hidden;		
  margin-top:100px;
}
div#footer ul{
  position:relative;
  float:right;
}
div#footer ul li{
  display:block;
  padding:10px;
  position:relative;
  float:right;
}

div.book-pic{
  width:120px;
  float:left;
}
div.book-info{
  line-height:25px;
  float:left;
}
div.clear{
  clear:both;
}
/*--------------------------*/
h2{
  margin-top:5px;
  margin-bottom:10px;

}

div.book-detail{
  margin-bottom:40px;
}

textarea{
  height:70px;
}

div.main{
  margin-bottom:50px;
}

.lend{
  margin-bottom:50px;
}
















