div#footer{
  width:100%;
  position:relative;
  bottom:0;
  height:40px;
  border-top:1px solid #EBEBEB;
  overflow:hidden;		
}
div#footer ul{
  position:relative;
  float:right;
}
div#footer ul li{
  display:block;
  padding:10px;
  position:relative;
  float:right;
}
span a{
  color:#333;
}
.row {
  min-height:550px;
  border-top:1px solid #DDD;
  margin-top:30px;
}
span{
  display:block;
  padding-top:5px;
}
.member{
  margin-bottom:30px;
  margin-top:30px;
}
.name{
  font-size:18px;
  margin-bottom:5px;
}
#sug{
  width:80%;
}
.contact{
  margin-top:30px;
}












